body {
    background-color: rgb(124, 108, 108) !important;
  }

  .navbar {
    width: 100%;
    height: 80%;
  }
  

/* .nav-span {
  color: white;
  font-size: 1.5em;
  padding: 0 0.5em 0 0.5em;
  line-height: 1.75em;
  text-shadow: 1px 1px 1px black;
}

.nav-span:hover,
.nav-span-user:hover {
  filter: brightness(80%);
}

.nav-span-user {
  color: white;
  font-size: 1.1em;
}

.dropdown-toggle.nav-link::after {
  color: white;
}

.dropdown-menu.show {
  background-color: rgb(240, 198, 120);
  color: white;
  margin-top: 0.3em;
  border-radius: 0 0 6px 6px;
  border-top: none;
}

.dropdown-menu.show :first-child:hover {
  background-color: transparent;
}

.dropdown-menu.show a.nav-link {
  color: white;
}

.dropdown-menu.show a.nav-link:hover {
  color: white;
  filter: brightness(80%);
}

.navbar {
  background-color: rgb(202, 157, 74);
  height: 3.5em;
  box-shadow: 0 0 3px rgb(202, 157, 74);
}

.nav-logo {
  width: 5em;
  margin: 0;
  padding: 0;
}


.login-btn-container {
  background-color: transparent;
  padding: 0;
  border: none;
  margin: 0 1em 0 auto;
}

.login-btn {
  width: 10em;
}

.user-img {
  border: 1px transparent;
  border-radius: 100px;
  width: 2em;
  margin-right: 0.5em;
}

.user-drop {
  margin: 0.4em 1em 0 auto;
} */