body {
    background-color: gray !important;
  }

 

// Navbar
.nav {
  
  padding: 14px 30px;
  display: flex;
  background-color: rgb(43, 85, 78);
  font-weight: bolder;
  color:antiquewhite;
  width: 100%;

  position: sticky;
  top: 0;
  z-index: 2;
  margin:0;
  font-size: 16px !important;
  .nav-span {
    color: white;
    font-size: 1.5em;
    padding: 0 0.5em 0 0.5em;
    line-height: 1.75em;
    text-shadow: 1px 1px 1px black;
  }
  .nav-logo {
    width: 5em;
    margin: 0;
    padding: 0;
  }
  .login-btn-container {
    background-color: transparent;
    padding: 0;
    border: none;
    margin: 0 1em 0 auto;
    width: 5rem;
  }
  
  
}

